---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    color: #ffcc00;
}

h3 {
    font-size: 24px;
}

h4 {
    background: transparent url("/graphics/line/line.svg" ) no-repeat;
    background-size: 200px 10px
    font-size: 19px;
    color: #ff0000;
}
